{% extends 'base.html' %}

{% block content %}
<div class="container">
<h3 class="text-warning mt-5 mb-5 border-bottom">SKILLS</h3>

<i--First row-->
<div class="row text-white">
<div class="col-sm-5">
<h3>PYTHON</h3>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
</div>
</div>

<div class="col-sm-5 offset-2">
<h3>Django</h3>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
</div>
</div>

</div>


<i--Second row-->
<div class="mt-5 row text-white">
<div class="col-sm-5">
<h3>MySQL</h3>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="70">70%</div>
</div>
</div>

<div class="col-sm-5 offset-2">
<h3>JavaScript</h3>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="50">50%</div>
</div>
</div>

</div>


<i--Third row-->
<div class="mt-5 row text-white">
<div class="col-sm-5">
<h3>HTML/CSS</h3>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="80">80%</div>
</div>
</div>

<div class="col-sm-5 offset-2">
<h3>Bootstrap</h3>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75">75%</div>
</div>
</div>

</div>

</div>

{% endblock content %}